openapi: 3.0.0
info:
  title: OOMKill Simulator API
  description: A service to simulate OOMKill in a Kubernetes cluster
  version: 1.0.0

paths:
  /:
    get:
      summary: Get service information
      description: Returns basic information about the OOMKill Simulator service
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
              example: |
                OOMKill Simulator
                Send a POST request to /trigger to simulate OOMKill

  /trigger:
    post:
      summary: Trigger OOMKill simulation
      description: Starts the process of allocating memory to simulate an OOMKill
      responses:
        '200':
          description: Successful trigger
          content:
            text/plain:
              schema:
                type: string
              example: OOMKill simulation triggered
        '405':
          description: Method not allowed
          content:
            text/plain:
              schema:
                type: string
              example: Method not allowed

  /crash:
    get:
      summary: Crashes the server
      description: Crashes the server
      responses:
        '200':
          description: Server crashed
          content:
            text/plain:
              schema:
                type: string
              example: Server crashed

components:
  schemas: { }
