openapi: 3.0.0
info:
  title: Simple Message Service
  description: A simple service that prints a received query parameter
  version: 1.0.0

paths:
  /:
    get:
      summary: Print received message
      description: Returns the message provided as a query parameter
      parameters:
        - in: query
          name: message
          schema:
            type: string
          description: The message to be printed
          required: false
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
              examples:
                withMessage:
                  value: "Received message: Hello World"
                withoutMessage:
                  value: "No message provided. Use ?message=YourMessage in the URL."

components: {}
